*{
    padding: 0;
    margin: 0;
}
.hero-container{
    display: flex;
    height: 100vh;
    background-image: linear-gradient(to bottom ,#0F2027, #203A43 , #2C5364);
    flex-direction: column;
}
.hero-container-other{
    display: flex;
    height: 20vh;
    background-image: linear-gradient(to bottom ,#0F2027, #203A43 , #2C5364);
    flex-direction: column;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    padding-left: 10%;
    padding-right: 10%;
}
ul {
    display: flex;
    list-style-type: none;
}
.link-line{
    height: 2px;
    width: 0%;
    background-color: #fff;
    transition: width 1s;
}
a{
    text-decoration: none;
    margin-left: 20px;
}
a:hover > .link-line { 
    width: 100%;
}
nav{
    display: flex;
}
.nav-link{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    color: #fff;
}
.logo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.logo-container img{
    height: 80px;
    width: 80px;
}
#title{
    font-size: 18px;
    font-family: fantasy;
    margin-top: 15px;
    color: #fff;
}
.hero-body{
    display: flex;
    margin: 20px;
    padding-left: 15%;
    padding-right: 15%;
}
.hero-left-container{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hero-right-container{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hero-left-title{
    margin-top: 20px;
    color: #fff;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#hero-left-subtitle{
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.87);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: lighter;
}
.explore-btn{
    background-color: #2C5364;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 30px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
    box-shadow: 5px 9px #162d36;
}
.explore-btn:active{
    box-shadow: 0px 0px #162d36;
}
#btn-text {
    color: #fff;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}
.hero-right-container img{
    height: 100%;
    width: 100%;
}
.prod-container{
    /* height: 250vh; */
    background-color: #fff;
}
.cat-container{
    display: flex;
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#cat-title{
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
}
.p-decor{
    width: 80px;
    height: 3px;
    background-color: #2887af;
    border-radius: 30px;
    margin-top: 4px;
}
.cat-grid{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3,200px);
    grid-template-rows: 200px;
    gap: 100px;
}
.cat-grid-item{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.cat-grid-item img:hover{
    transform: scale(1.5);
}
#cat-item-title{
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.feat-container{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 120px;
    flex-direction: column;
    align-items: center;
}
.feat-grid{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3,400px);
    grid-template-rows: auto;
    gap: 20px;
}
.feat-grid-item{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.feat-grid-item img:hover{
    transform: rotate(0.5turn);
}
.feat-grid-item img{
    height: 500px;
}
.feat-prod-detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 5px;
}
#feat-title{
    font-size: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#feat-subtitle{
    margin-top: 0px;
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
}
#feat-prod-price{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.latest-grid{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4,300px);
    grid-template-rows: auto auto;
    gap: 20px;
}
.latest-grid-item{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.latest-grid-item img{
    height: 400px;
}
.hero-container2{
    display: flex;
    height: 50vh;
    background-image: linear-gradient(to bottom ,#0F2027, #203A43 , #2C5364);
    flex-direction: column;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
}
.hero-right-container2{
    width: 50%;
    display: flex;
    justify-content: end;
}
.hero-right-container2 img{
    height: 350px;
    transition: height 2s;
    cursor: pointer;
}
.hero-right-container2 img:hover{
    height: 500px;
}
footer{
    display: flex;
    height: 30vh;
    background-color: #0d1b20;
    margin-top: 150px;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
    align-items: center;
}
.app-container{
    display: flex;
    flex-direction: column;
}
.app-title{
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}
#app-subtitle{
    margin-top: 10px;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.app-photos{
    display: flex;
    margin-top: 10px;
}
.app-photos img{
    height: 50px;
    width: 150px;
    margin-right: 10px;
    cursor: pointer;
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.links-p{
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.705);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}
.links img{
    height: 100px;
    width: 100px;
}
.product-container{
    /* height: 80vh; */
    display: flex;
    padding: 30px;
}
.prod-left{
    display: flex;
    width: 50%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.prod-right{
    display: flex;
    width: 50%;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.prod-left img{
    width: 50%;
    height: 500px;
    cursor: pointer;
}
.img-container{
    display: grid;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: 100px;
    gap: 20px;
    margin-top: 10px;
}
.img-container img{
    height: 100px;
    width: 100px;
    cursor: pointer;
}
#prod-p1{
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#prod-p2{
    margin-top: 20px;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
#prod-p3{
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#prod-p4{
    margin-top: 30px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#prod-p5{
    margin-top: 20px;
    width: 50%;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.register-container{
    height: 100%;
    width: 70%;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding: 10px;
}
input{
    width: 90%;
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #0d1b20;
    border-radius: 5px;
}
#login-p{
    margin-top: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #203A43;
    cursor: pointer;
    text-decoration: underline;
}
.cart-container{
    height: 100vh;
}
.item-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 30px;
}
.item-details{
    display: flex;
}
.item-more-details{
    margin-left: 20px;
}
.item-details img{
    height: 200px;
    width: 150px;
}
.item-p1{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.item-p2{
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.quant-p2{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 10px;
}
.item-p3{
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #2887af;
    cursor: pointer;
}
.total-container{
    display: flex;
    align-items: flex-end;
    padding-right: 15%;
    flex-direction: column;
}
.total-row{
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.total-title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}
.total-subtitle{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
.divider{
    height: 4px;
    width: 40%;
    background-color: #162d36;
    margin-top: 20px;
}

@media only screen and (max-width: 801px) {
     header{
        flex-direction: column;
     }
     .hero-body{
        flex-direction: column;
     }
     .hero-left-container{
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .hero-right-container{
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .cat-grid{
        grid-template-columns: repeat(1,200px);
    }
    .feat-grid{
        grid-template-columns: repeat(1,350px);
    }
    .latest-grid{
        grid-template-columns: repeat(1,300px);
    }
    .hero-container2{
        flex-direction: column;
        height: 80vh;
    }
    .hero-right-container2 img{
        height: 300px;
    }
    .hero-right-container2{
        justify-content: center;
        align-items: center;
    }
    footer{
        flex-direction: column;
        height: 120vh;
    }
    .item-p1{
        font-size: 20px ;
    }
    .total-container{
        align-items: center;
    }
    .hero-left-container img{
        width: 100%;
        height: 100%;
    }
    .hero-container{
        height: 120vh;
    }

}
@media only screen and (max-width: 1000px) {
    
    .hero-right-container2 img:hover{
        height: 350px;
    }
    .product-container{

        flex-direction: column;
    }
    .prod-left{
        width: 100%;
        align-items:center;
        justify-content: center;
    }
    .prod-right{
        width: 100%;
        align-items:center;
        justify-content: center;
        margin-top: 50px;
    }
    .item-p1{
        font-size: 20px ;
    }
}
@media only screen and (max-width: 1200px) {
    
    footer{
        flex-direction: column;
        height: 100vh;
    }
    .item-p1{
        font-size: 25px ;
    }
}